
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IkınciElAracSatis.UI.Models.VM.KurumsalAracFiltrele.AracListeleVM


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Araç Listeleme</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12 mx-auto">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Araç Filtreleme</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row justify-content-center align-items-center px-4 pb-5">
                        <div class="col-3">
                            <div class="dropdown row p-2">
                                <span class="text-dark mb-2 text-center font-weight-bold">Marka</span>
                                @Html.DropDownListFor(a => a.AracFiltreleri.Marka, Model.AracFiltreleri.Markalar, new { @class = "btn btn-outline-dark mx-auto", @type = "button" })
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dropdown row p-2">
                                <span class="text-dark mb-2 text-center font-weight-bold">Model</span>
                                @Html.DropDownListFor(a => a.AracFiltreleri.Model, Model.AracFiltreleri.Modeller, new { @class = "btn btn-outline-dark  mx-auto", @type = "button" })
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dropdown row p-2">
                                <span class="text-dark mb-2 text-center font-weight-bold">Bireysel/Kurumsal</span>
                                @Html.DropDownListFor(a => a.AracFiltreleri.Rol, Model.AracFiltreleri.MusteriRolleri, new { @class = "btn btn-outline-dark  mx-auto", @type = "button" })
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="dropdown row p-2">
                                <span class="text-dark mb-2 text-center font-weight-bold">Statü</span>
                                @Html.DropDownListFor(a => a.AracFiltreleri.AracStatu, Model.AracFiltreleri.AracStatuleri, new { @class = "btn btn-outline-dark  mx-auto", @type = "button" })
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-3">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Araç Listesi</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Araç No</th>
                                                <th>Araç Marka</th>
                                                <th>Araç Model</th>
                                                <th>Bireysel/Kurumsal</th>
                                                <th>Statü</th>
                                                <th>Kaydeden Kul</th>
                                                <th>Kaydetme Zamanı</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.KurumsalAraclar)
                                            {
                                                <tr>
                                                    <td>@item.AracNo</td>
                                                    <td>@item.MarkaAdi</td>
                                                    <td>@item.ModelAdi</td>
                                                    <td>@item.Rol</td>
                                                    <td>@item.KurumsalStatu</td>
                                                    <td>@item.AdminAdi</td>
                                                    <td>@item.KaydedilenTarih</td>
                                                    <td>
                                                        @Html.ActionLink("Detay", "AracGuncelle", "KurumsalAracEkle", new { id = @item.AracID }, new { @class = "btn btn-primary" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                     
                        <div class="my-3 pr-5 d-flex">
                            <button type="button" class="btn btn-primary mx-auto w-25">Listele</button>
                        </div>
                      
                        <!-- /.container-fluid -->
                    </div>
                    </div>
                <div class="ml-auto text-right pr-5">
                    <a href="@Url.Action("Index","KurumsalAracEkle")" style="width:120px" type="button" class="btn btn-outline-primary mb-4 font-weight-bold">Yeni Kayıt</a>
                    <button style="width:120px" type="button" class="btn btn-outline-primary mb-4 ml-2 font-weight-bold">Sil</button>
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- End of Main Content -->
               


     

